<!DOCTYPE html>
<html>
<head>
  <title>Pie chart of Twitter Analysis</title>
</head>
<body>
  <div id="canvas-holder" style="width:40%">
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand">
        <div class=""></div>
      </div>

      <div class="chartjs-size-monitor-shrink">
        <div class=""></div>
      </div>
    </div>
    <canvas id="chart-area" style="display: block; width: 204px; height: 102px;" width="204" height="102" class="chartjs-render-monitor"></canvas>
  </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: 
          [ {{data}}, ]
          backgroundColor: [
            window.chartColors.red,
            window.chartColors.yellow,
            window.chartColors.green,
            ],
          label: 'Tweet Analysis'
        }],
        labels: [
          'Positive',
          'Negative',
          'Neutral',
        ]
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('chart-area').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
    </script>
  </body>
</html>
